.Rproj.user
.Rhistory
.RData
.Ruserdata
processed-data/
raw-data/FASTQ/
# Reference files with donor info:
raw-data/snRNAseq_Deconvolution_Project_Master_Spreadsheet.xlsx
raw-data/sample_libs_rounds2-5.tsv

